/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

/* LOGO */
.logo {
  font-size: 28px;
  color: #fff;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links button {
  background: transparent;
  border: 1px solid #2a2a2a;
  color: #bbb;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links button:hover {
  color: #fff;
  border-color: #fff;
}